# This file may be used to create an environment using the following commands:
# $ conda create --name <env> --file <this file>
# platform: win-64
future=0.18.2=py37hc8dfbb8_1
git=2.23.0=h6bb4b03_0
ipykernel=5.3.4=py37h5ca1d4c_0
ipython=7.18.1=py37h5ca1d4c_0
ipython_genutils=0.2.0=py37_0
matplotlib=3.3.1=0
matplotlib-base=3.3.1=py37hba9282a_0
numpy=1.19.1=py37h5510c5b_0
numpy-base=1.19.1=py37ha3acd2a_0
numpydoc=1.1.0=py_0
pandas=1.1.2=py37h1834ac0_0
pandoc=2.10.1=0
pandocfilters=1.4.2=py37_1
pip=20.2.2=py37_0
python=3.7.9=h60c2a47_0
python-dateutil=2.8.1=py_0
python-jsonrpc-server=0.4.0=py_0
python-language-server=0.35.1=py_0
python_abi=3.7=1_cp37m
scipy=1.5.2=py37h9439919_0
yaml=0.2.5=he774522_0
